* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-0: red;
	--color-1: orange;
	--color-2: yellow;
	--color-3: cyan;
	--color-4: white;
	--color-5: green;
	--color-6: violet;
	--color-7: indigo;
	--color-8: blue;
	--bg-color: #111;
	--font-color: #fff;
	--btn-color: #333;
	--outline-color: #aaa;
	--highlight-color: yellow;
	--max-width: 600px;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.6;
	padding-bottom: 2rem;
}

header {
	margin-block: 1.5rem 2rem;
}

h1 {
	font-size: 2rem;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',
		Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	color: yellow;
	text-align: center;
	letter-spacing: 2px;

	@media (min-width: 600px) {
		font-size: 2.75rem;
	}
}

a {
	color: inherit;
	text-underline-offset: 2px;

	&:focus-visible {
		outline: 1px solid var(--outline-color);
		outline-offset: 2px;
	}
}

main {
	position: relative;
}

p {
	margin-block: 1rem;
}

summary {
	width: max-content;
	cursor: pointer;

	&:focus-visible {
		outline: 1px solid var(--outline-color);
		outline-offset: 2px;
	}
}

details[open] summary {
	color: var(--highlight-color);
}

.square {
	width: var(--size);
	height: var(--size);
	margin-inline: auto;
	--border: 1px;
	cursor: move;
	clip-path: inset(var(--border));

	@media (min-width: 600px) {
		--border: 0.1rem;
	}
}

.piece {
	position: absolute;
	width: calc(var(--size) / 9);
	height: calc(var(--size) / 9);
	--dx: 0;
	--dy: 0;
	background-color: var(--color, gray);
	transform: translateX(calc(var(--x) * var(--size) / 9 + var(--dx) * 1px))
		translateY(calc(var(--y) * var(--size) / 9 + var(--dy) * 1px));
	transition: transform 80ms ease-out;
	border: var(--border) solid black;
	box-shadow: 0.1rem 0.1rem calc(0.1 * var(--size) / 9) inset #00000025;
	border-radius: 15%;
}

.piece-0 {
	--color: var(--color-0);
}
.piece-1 {
	--color: var(--color-1);
}
.piece-2 {
	--color: var(--color-2);
}
.piece-3 {
	--color: var(--color-3);
}
.piece-4 {
	--color: var(--color-4);
}
.piece-5 {
	--color: var(--color-5);
}
.piece-6 {
	--color: var(--color-6);
}
.piece-7 {
	--color: var(--color-7);
}
.piece-8 {
	--color: var(--color-8);
}

.infos {
	max-width: var(--max-width);
	margin-inline: auto;
	padding-inline: 1rem;
	margin-top: 2rem;
}

button {
	font: inherit;
	color: inherit;
	background: none;
	border: none;
	cursor: pointer;
}

.button {
	padding: 0.25rem 0.8rem;
	background-color: var(--btn-color);
	border-radius: 0.25rem;

	&:focus-visible,
	&:hover {
		outline: 1px solid var(--outline-color);
	}
}

menu {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

#status {
	text-align: right;
	position: absolute;
	top: calc(100% + 0.2rem);
	right: 0;
	font-size: 0.875rem;
}

.scene {
	margin-inline: auto;
	background-color: var(--bg-color);
	border-radius: 0.5rem;
	max-width: var(--max-width);
	aspect-ratio: 4 / 3;
	perspective: 1200px;
	display: none;

	&.visible {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	* {
		position: absolute;
		transform-style: preserve-3d;
	}
}

.torus {
	--unit: min(10vw, 4rem);
	--elevation: calc(-0.5 * var(--unit));
	--tilt: -35deg;
	--slice-radius: calc(1.2 * var(--unit));
	--outer-radius: calc(2.4 * var(--unit));
	--tile-amount: 9;
	transform: translateY(var(--elevation)) rotateX(var(--tilt));
	animation: rotatearound 60s linear infinite;
}

@keyframes rotatearound {
	from {
		rotate: translateY(var(--elevation)) rotateX(var(--tilt)) rotateY(0deg);
	}
	to {
		transform: translateY(var(--elevation)) rotateX(var(--tilt)) rotateY(1turn);
	}
}

.tile {
	height: var(--unit);
	aspect-ratio: 2.4/3;
	border-radius: 0.25rem;
	background-color: var(--color, white);
	transition: background-color 140ms ease-in-out;
	transform: rotateX(90deg) rotateY(calc(var(--index, 0) * 360deg / var(--tile-amount)))
		translateZ(var(--slice-radius));
	opacity: 0.95;
	box-shadow: 0rem 0rem 1rem inset #0006;
}

.slice {
	transform: rotateY(calc(var(--num, 0) * 360deg / var(--tile-amount)))
		translateX(var(--outer-radius));
}

.tile[data-type='0'] {
	--color: var(--color-0);
}

.tile[data-type='1'] {
	--color: var(--color-1);
}

.tile[data-type='2'] {
	--color: var(--color-2);
}

.tile[data-type='3'] {
	--color: var(--color-3);
}

.tile[data-type='4'] {
	--color: var(--color-4);
}

.tile[data-type='5'] {
	--color: var(--color-5);
}

.tile[data-type='6'] {
	--color: var(--color-6);
}

.tile[data-type='7'] {
	--color: var(--color-7);
}

.tile[data-type='8'] {
	--color: var(--color-8);
}
